body {
  margin: 0;
  font-family: Arial, sans-serif;
   background: linear-gradient( #0e033c, #16014ea4, #20025bb9);
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex:1;
}

.nav {
  background: #001728bd;
  color: rgba(4, 6, 108, 0.938);
 
  padding: 10px;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  background: rgb(1, 65, 137);
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.718);
}

.actions .btn {
  margin-left: 10px;
  padding: 5px 10px;
  background: white;
  color: #013f6b98;
  text-decoration: none;
  border-radius: 4px;
}

.btn.primary {
  background: #025692b4;
  color: white;
}

.wrap {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 15px;
}

.search input {
  width: 100%;
  padding: 8px;
  border: 1px solid #000535;
  border-radius: 4px;
}

.empty {
  text-align: center;
  padding: 50px;
  background: rgb(3, 50, 113);
  border: 1px dashed #ccc;
  border-radius: 6px;
  margin-top: 20px;
  color: #00091a;
  font-size: 16px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #001439;
  margin-top: auto;
  color: white;
}